.modal-body {
    padding: 20px;
}
.modal-text {
    color: #4A4A4A;
    font-size: 16px;
    padding-bottom: 20px;
    display: block;
}
.Modal__modal-content {
    width: 375px;
    height: 206px;
    left: 50%;
    right: 50%;
}
.modal-alert-icon {
    color: #FDC02F;
    font-size: 42px;
    font-face: FontAwesome;
    float: right;
}
modal-header {
    padding: 10px;
}
modal-blah {
    float: right;
}
